.footer {
  background-color: $black;
  color: $background;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__shop,
  &__info {
    text-align: center;
    opacity: 0.5;
    h4 {
      color: $background;
    }
    li {
      padding: 5px 0;
      font-size: 0.8em;
    }
  }
}
