.footer {
  width: 100%;
  background-color: $black;
  color: $background;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (max-width: 800px) {
    }
  }
  &__shop,
  &__info {
    text-align: center;
    opacity: 0.5;
    h4 {
      color: $background;
      padding: 10px 0;
    }
    li {
      padding: 5px 0;
      font-size: 0.8em;
    }
  }
}
