@import "../variables";

.header {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  background-color: $background;
  padding: 10px 90px 30px 90px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1200px) {
    padding: 10px 30px 30px 30px;
  }
  @media (max-width: 767px) {
    padding: 10px 10px 10px 20px;
    flex-direction: column;
    .header__right-block,
    .categories {
      margin-top: 20px;
    }
    .categories {
      li {
        text-align: center;
        font-size: 12px;
        padding: 12px;
      }
    }
  }

  &__right-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 800px) {
      margin-top: 20px;
    }
  }

  &__cart {
    position: relative;
    margin-right: 30px;
    cursor: pointer;

    :hover {
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
    }

    svg {
      color: $black;
    }

    span {
      position: absolute;
      font-weight: bold;
      top: -10px;
      font-size: 1.2em;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
      flex-direction: column;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__login {
    cursor: pointer;

    :hover {
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
    }
  }

  @media (max-width: 600px) {
    .header {
      padding: 10px 15px 30px 15px;
    }

    .container {
      padding: 0;
    }

    .header__right-block {
      margin-top: 0;
    }

    .header__cart {
      margin-right: 15px;
    }
  }

  @media (max-width: 400px) {
    .header__logo {
      h1 {
        font-size: 20px;
      }
    }
  }
}

.auth-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 30px;
    margin-right: 10px;
  }

  &__button {
    margin-left: 10px;
  }
}
