@import "../variables";

.header {
  width: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  background-color: $background;
  padding: 10px 90px 30px 90px;
  z-index: 999;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column;
      .header__right-block,
      .categories {
        margin-top: 20px;
      }
    }
  }

  &__right-block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__cart {
    position: relative;
    margin-right: 30px;
    cursor: pointer;
    :hover {
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
    }
    svg {
      color: $black;
    }
    span {
      position: absolute;
      font-weight: bold;
      top: -10px;
      font-size: 1.2em;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
      flex-direction: column;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__login {
    cursor: pointer;
    :hover {
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
    }
  }
}

.auth-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 30px;
    margin-right: 10px;
  }
  &__button {
    margin-left: 10px;
  }
}
