.order-form {
  @media (max-width: 768px) {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 250px;
  }
  width: 500px;
}

.field {
  @media (max-width: 768px) {
  }
  margin-bottom: 15px;
}

.title {
  @media (max-width: 768px) {
    justify-content: center;
    align-items: center;
  }
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 10px;
}

.bottomText {
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.bottomLink {
  color: rgb(25, 25, 238);
}
