.whyUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    margin-top: 0px;
  }
}

.description {
  width: 80%;

  ul > li {
    p {
      display: block;
      margin-block-start: 1.33em;
      margin-block-end: 1.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    text-align: justify;
    font-size: 1.2em;
    @media (max-width: 768px) {
      padding: 0;
      font-size: 1em;
      text-align: justify;
    }
  }

  &__header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1em;
    &:after {
      content: "";
      width: 64px;
      border-bottom: 2px solid #272727;
      bottom: -6px;
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;
      display: block;
    }
  }
}
