.aboutus {
  display: flex;
  flex-direction: column;
  &__header {
    @media (max-width: 768px) {
      margin: 0px 25px 20px 20px;

      margin-top: 80px;
      flex-direction: column;
    }
    @media (max-width: 300px) {
      margin: 0px 80px 20px 0;

      margin-top: 100px;
      flex-direction: column;
    }

    position: relative;
    text-align: center;
    font-size: 1.3em;
    &:after {
      content: "";
      width: 64px;
      border-bottom: 2px solid #272727;
      bottom: -6px;
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;
      display: block;
    }
  }
  &__description {
    ul > li {
      margin: 0 80px;
      text-align: justify;
      font-size: 1.2em;
      padding: 20px;
      margin-bottom: 10px;
      @media (max-width: 768px) {
        padding: 10px;
        margin: 0 20px;
        font-size: 0.9em;
      }
    }
  }
}
