.aboutus {
  display: flex;
  flex-direction: column;
  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 80px 20px 100px;
  }
}
