.user-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  @media (max-width: 768px) {
    margin: 50px auto;
  }
}

.user {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    font-size: 1.2em;
  }
}

.user-fullName {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
  @media (max-width: 768px) {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

.user-email {
  margin-bottom: 50px;
  font-size: 2em;
  @media (max-width: 768px) {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}
.profile-buttons {
  display: flex;
  justify-content: space-between;
}
.change-button {
  @media (max-width: 768px) {
    justify-content: space-between;

    font-size: 0.7em;
    margin: 0 10px;
    padding: 10px 10px;
  }
  margin: 0 20px;

  border-radius: 10px;
  font-weight: bold;
  border: none;
  outline: 0;
  padding: 10px 40px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    opacity: 0.7;
  }
}
