.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
  margin-bottom: 40px;
}

.name {
  font-size: 1.2em;
}
.productImg {
  border-radius: 10px 10px 0 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
.price {
  color: grey;
  font-size: 22px;
}
.button {
  border-radius: 0 0 10px 10px;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  &:hover {
    opacity: 0.7;
  }
}

.readmore {
  text-decoration: underline;
  font-weight: bold;
}
