.root {
  width: 400px;
  padding: 50px 50px 30px 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
  @media (max-width: 768px) {
    margin: 150px auto;
    width: 300px;
  }
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.bottomText {
  @media (max-width: 768px) {
    font-size: 0.9em;
    flex-direction: column;
    text-align: center;
  }
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.bottomLink {
  @media (max-width: 768px) {
    text-align: center;
  }
  color: rgb(25, 25, 238);
}
.forgotPassword {
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(25, 25, 238);
  text-align: center;
  margin-top: 10px;
  @media (max-width: 768px) {
  }
}
