@import "./variables";
@import "./libs/normalize";

@import "./components/all";
@import "./pages/all";
body {
  background-color: $background;
}
.wrapper {
  margin-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 50px;
  }
}
.routes {
  flex-grow: 1;
  height: 100%;
  margin: 0;
}
.content {
  margin-top: 50px;
  padding: 10px 0;
  &__error-info {
    margin: 50px auto;
    width: 500px;
    text-align: center;
    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
    }
  }
  &__title {
    margin: 35px 0;
    font-size: 38px;
    font-weight: 800;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 11px;
    grid-row-gap: 20px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1260px) {
    }
    @media (max-width: 820px) {
    }
    @media (max-width: 768px) {
    }
  }
}

.section_header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3em;
  &:after {
    content: "";
    width: 64px;
    border-bottom: 2px solid #272727;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    display: block;
  }
}
.section_right {
  display: flex;
  justify-content: space-between;
}
